[include]
    path = .gitconfig-default
[includeIf "gitdir:~/code/work/external/"]
    path = .gitconfig-external
[includeIf "gitdir:~/code/work/internal/"]
    path = .gitconfig-internal
[core]
    pager = delta
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = Monokai Extended
	line-numbers = true
[interactive]
    diffFilter = delta --color-only
[merge]
	tool = nvimdiff
	conflicstyle = diff3
[mergetool]
	prompt = false
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c '$wincmd J'
[diff]
	tool = nvimdiff
	conflicstyle = diff3
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c '$wincmd J'
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	sw = switch
	br = branch
	di = diff
	hist = log --pretty=format:'%C(bold green)%h%C(reset) %C(bold yellow)%ad (%ar)%C(reset) | %C(bold magenta)%s%d %C(reset)%C(dim white)[%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
